/* Essentials */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
html , body{
    background: #004050;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Container */
.container{
    background: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2%;
    max-height: 90%;
}
.form-container{
    background: #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* H1 */
.container h1{
    color: #004050;
    font-size: 50px;
    margin: 1px 0;
}
/* Input */
.input-text{
    height: 50px;
    width: 90%;
    border: solid 2px #004050;
    border-radius: 10px;
    padding: 2%;
    outline: none;
    margin: 1px 0;
}
textarea{
    height: 100px;
    width: 90%;
    border: solid 2px #004050;
    border-radius: 10px;
    padding: 2%;
    outline: none;
    margin: 1px 0;
}
.button-submit{
    height: 50px;
    width: 90%;
    background: #004050;
    color: #fff;
    cursor: pointer;
    border: solid 2px #004050;
    border-radius: 10px;
    margin: 1px 0;
}
.button-submit:hover{
    background: #fff;
    color: #004050;
}
/* List */
.list-container{
    width: 90%;
    margin-top: 2%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    color: #004050;
    display: block;
    height: 100%;
}
tr , th , td{
    border: solid 2px #004050;
}
th , td{
    padding: 2%;
    min-width: 70px;
}
.fa-solid{
    padding: 5px;
    border-radius: 5px;
}
.fa-solid:hover{
    background-color: #004050;
    color: #fff;
}
@media(max-width: 720px){
    .container{
        width: 90%;
    }
    .container h1{
        font-size: 30px;
    }
    .input-text{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .button-submit{
        width: 100%;
    }
    .list-container{
        width: 100%;
        margin-top: 2%;
    }
}